.container{
    position: absolute;
    top:20%;
    width: 600px;
    height: 450px;
    left: 35%;
    background-color: aqua;
    border-radius: 5%;

}

.img{
    position: absolute;
    top:20%;
    width: 600px;
    height: 450px;
    left: 35%;
    background-color: aqua;
    border-radius: 5%;
}

.titulo{
    color: aqua;
    font-size: 64px;
}